.about-me {
  margin-top: 90px;
}

.about-me,
.tech-stack-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: var(--fadeIn);
}

.tech-stack-section {
  margin-top: 2.5em;
}

.about-me-title,
.tech-stack-title {
  color: var(--purple);
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  width: 600px;
}

.tech-stack-title {
  margin-top: 50px;
}

.about-me-description,
.tech-stack-description {
  color: var(--secondary-grey);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6em;
  letter-spacing: 0.023rem;
  margin-top: 1.5rem;
  width: 600px;
}

.tech-stack-section {
  width: 100%;
  margin-top: 50px;
}

.apps-container {
  display: grid;
  justify-content: start;
  align-items: center;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 175px);
  margin-top: 1.25rem;
}

.tech-stack {
  width: 600px;
}

.tech-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 175px;
  cursor: default;
  outline: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  transition: var(--ease-in-out);
}

.tech-card:hover {
  outline: 1px solid var(--border-hover-color);
  background-color: var(--hover-black);
}

.technology-title {
  color: var(--primary-grey);
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5em;
  margin-top: 1.875rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -275px;
  left: 0;
  right: 0;
}

.hr {
  width: 23rem;
  border: 1px solid var(--secondary-grey);
}

.copyrights {
  color: var(--secondary-grey);
  font-size: 0.8125rem;
  font-weight: 500;
  animation: var(--fadeIn);
  margin-top: 1.25em;
  margin-bottom: 20px;
}
