.maincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-posts-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 150px;
  overflow: hidden;
  animation: var(--fadeIn);
}

.blog-posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 90px;
  width: 655px;
  gap: 10px;
}

.blog-section-top {
  width: 600px;
}

.blog-section-title {
  color: var(--purple);
  font-size: 2.5rem;
  font-family: var(--Inter);
  font-weight: 650;
  text-align: left;
}

.blog-section-description {
  color: var(--secondary-grey);
  font-size: 16px;
  font-family: var(--Inter);
  line-height: 1rem;
  letter-spacing: 0.023px;
  text-align: left;
  margin-top: 1.25rem;
}

.post-link {
  text-decoration: none;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 600px;
  height: 85px;
  padding: 0 1.75em 0 1.75em;
  gap: 30px;
  border-radius: 1rem;
  transition: var(--ease-in-out);
}

.post:hover {
  background-color: var(--hover-black);
}

.blog-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.post-title {
  color: var(--primary-grey);
  font-size: 1.1rem;
  font-family: var(--Inter);
  line-height: 1.5em;
}

.published {
  color: var(--secondary-grey);
  font-size: 0.95rem;
  font-family: var(--Inter);
  line-height: 1.5em;
  letter-spacing: 0.023rem;
}

.read-more {
  text-align: right;
}

.arrow {
  color: var(--secondary-grey);
  font-family: var(--Inter);
  font-weight: 650;
  cursor: pointer;
  transition: var(--ease-in-out);
}

.arrow:hover {
  color: var(--primary-grey);
}

.blog-hr {
  width: 37em;
  border: var(--hr);
}
