.post-section {
  width: 100%;
  margin-top: 90px;
  animation: var(--fadeIn);
}

.blog-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-top h1 {
  color: var(--purple);
  font-size: 2rem;
  font-weight: 625;
  text-align: left;
  width: 600px;
}

.post-hr {
  width: 37.5rem;
  border: var(--hr);
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.post-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.all-posts {
  text-decoration: none;
}

.blog-top p,
.post-information p {
  color: var(--secondary-grey);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.023px;
  line-height: 1rem;
  width: 600px;
  text-align: left;
}

.blog-top p {
  cursor: pointer;
  margin-bottom: 4rem;
  transition: var(--ease-in-out);
}

.blog-top p:hover {
  color: var(--primary-grey);
}

.post-information p {
  margin-top: 0.75rem;
}

span {
  color: var(--primary-grey);
}

.blog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.blog-content h2 {
  color: var(--primary-grey);
  font-size: 1.35rem;
  font-weight: 700;
  line-height: 1.25rem;
  text-align: left;
  width: 600px;
  margin-top: 3rem;
}

.blog-content p {
  color: var(--secondary-grey);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 0px;
  width: 600px;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  text-align: left;
}
