@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --Inter: "Inter", Arial, Helvetica, sans-serif;
  --white: #fff;
  --purple: #a88bfa;
  --primary-black: #050505;
  --hover-black: rgba(36, 36, 36, 0.75);
  --primary-grey: #e0e0e0;
  --secondary-grey: #a6a6a6;
  --text-weight: 400;
  --headings-weight: 500;
  --title-weight: 700;
  --border-radius: 1.2rem;
  --border-color: #202123;
  --border-hover-color: #2c2d2e;
  --box-shadow: rgb(255 255 255 / 20%) 0px 2px 20px;
  --hr: 1px solid #27272a;
  --fadeInDuration: 1.75s;
  --fadeOutDuration: 1.5s;
  --ease-in-out: all 0.3s ease-in-out;
  --scale-in-out: scale(1.01);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 0.25;
    transform: translateY(7px);
  }
  to {
    opacity: 0.5;
    transform: translateY(5px);
  }
  to {
    opacity: 0.75;
    transform: translateY(3px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0.75;
    transform: translateY(3px);
  }
  to {
    opacity: 0.5;
    transform: translateY(5px);
  }
  to {
    opacity: 0.25;
    transform: translateY(7px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

body.fade-out {
  animation: fadeOut var(--fadeOutDuration) forwards;
}

body {
  min-height: 100vh;
  background-color: var(--primary-black);
  opacity: 0;
  animation: fadeIn var(--fadeInDuration) forwards;
}
