body {
  height: 100vh;
  overflow: hidden;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh;
  position: relative;
  overflow: hidden;
  animation: var(--fadeIn);
}

.hero-background {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.animated-background {
  width: 100%;
  object-fit: cover;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -30px;
  left: 0;
}

.hero-title {
  color: var(--purple);
  font-size: 4.5rem;
  font-weight: 700;
}

.hero-description {
  color: var(--primary-grey);
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.6em;
  width: 620px;
  margin-top: 30px;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.hr {
  width: 23rem;
  border: 1px solid var(--secondary-grey);
  margin-top: 0px;
}

.social-media-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.9375rem;
  margin-top: 1.25em;
}

.github svg,
.codepen svg,
.linkedin svg,
.email svg {
  cursor: pointer;
  transition: var(--ease-in-out);
}

.github svg:hover,
.codepen svg:hover,
.linkedin svg:hover,
.email svg:hover {
  stroke: var(--purple);
}

.copyrights {
  color: var(--secondary-grey);
  font-size: 0.8125rem;
  font-weight: 500;
  animation: var(--fadeIn);
  margin-top: 12px;
  margin-bottom: 20px;
}

@media screen and (max-width: 700px) {
  .hero-description {
    width: 525px;
  }
}

@media screen and (max-width: 600px) {
  .hero-title {
    font-size: 3rem;
  }

  .hero-description {
    width: 425px;
  }
}
