body {
  height: 100vh;
}

.featured-projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 150px;
  animation: var(--fadeIn);
}

.featured-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 90px 0 140px 0;
  width: 655px;
  gap: 10px;
}

.featured-projects-top {
  width: 600px;
}

.all-projects {
  text-decoration: none;
}

.featured-projects-title {
  color: var(--purple);
  font-size: 2.5rem;
  font-family: var(--Inter);
  font-weight: 650;
  text-align: left;
}

.featured-projects-top p {
  color: var(--secondary-grey);
  font-size: 16px;
  font-family: var(--Inter);
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.023px;
  text-align: left;
  margin-top: 1.25rem;
  transition: var(--ease-in-out);
}

.featured-projects-top p:hover {
  color: var(--primary-grey);
}

.project-link {
  text-decoration: none;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 600px;
  height: 85px;
  padding: 0 1.75em 0 1.75em;
  gap: 30px;
  border-radius: 1rem;
  transition: var(--ease-in-out);
}

.project:hover {
  background-color: var(--hover-black);
}

.project-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.project-title {
  color: var(--primary-grey);
  font-size: 1.1rem;
  font-family: var(--Inter);
  font-weight: 450;
  line-height: 1.5em;
}

.project-description {
  color: var(--secondary-grey);
  font-size: 0.95rem;
  font-family: var(--Inter);
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.023rem;
}

.learn-more {
  text-align: right;
}

.arrow {
  color: var(--secondary-grey);
  font-family: var(--Inter);
  font-weight: 650;
  cursor: pointer;
  transition: var(--ease-in-out);
}

.arrow:hover {
  color: var(--primary-grey);
}

.project-hr {
  width: 37em;
  border: var(--hr);
}
