.maincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-section {
  width: 100%;
  margin-top: 90px;
  animation: var(--fadeIn);
}

.project-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-top h1 {
  color: var(--purple);
  font-size: 2rem;
  font-family: var(--Inter);
  font-weight: 650;
  text-align: left;
  width: 600px;
}

.project-hr {
  width: 37.5rem;
  border: var(--hr);
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.project-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.all-projects {
  text-decoration: none;
}

.arrow {
  color: var(--secondary-grey);
  font-family: var(--Inter);
  font-weight: 650;
  cursor: pointer;
  transition: var(--ease-in-out);
}

.project-top p,
.project-information p {
  color: var(--secondary-grey);
  font-size: 16px;
  font-family: var(--Inter);
  font-weight: 400;
  letter-spacing: 0.023px;
  line-height: 1rem;
  width: 600px;
  text-align: left;
}

.project-top p {
  cursor: pointer;
  margin-bottom: 4rem;
  transition: var(--ease-in-out);
}

.project-top p:hover {
  color: var(--primary-grey);
}

.project-information p {
  margin-top: 0.75rem;
}

span {
  color: var(--primary-grey);
}

.image-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 400px;
}

.project-content h2 {
  color: var(--primary-grey);
  font-family: var(--Inter);
  font-size: 1.35rem;
  font-weight: 600;
  line-height: 1.25rem;
  text-align: left;
  width: 600px;
  margin-top: 3rem;
}

.project-content p {
  color: var(--secondary-grey);
  font-size: 1rem;
  font-family: var(--Inter);
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 0.023rem;
  width: 600px;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  text-align: left;
}
