---
import "../styles/global.css";
import "../styles/about.css";
import Navigation from "../components/Navigation.astro";
import Connect from "../components/Connect.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Daniyal Master's about page. Learn about his passion for tech, tech stack, and access his social media links."
    />
    <link rel="icon" type="image/png" sizes="32x32" href="Logo.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="Logo.webp" />
    <link rel="mask-icon" href="Logo.png" />
    <title>About | Daniyal Master</title>
  </head>
  <body>
    <Navigation />

    <section class="about-me">
      <h2 class="about-me-title">About Me</h2>
      <p class="about-me-description">
        Aliqua tempor nostrud adipisicing commodo fugiat nostrud cupidatat. Duis
        officia veniam ad eu cillum laboris Lorem minim reprehenderit est velit
        sit. Nulla commodo nisi exercitation consequat ullamco non eu in.
      </p>

      <p class="about-me-description">
        Aliqua tempor nostrud adipisicing commodo fugiat nostrud cupidatat. Duis
        officia veniam ad eu cillum laborum sint proident laboris Lorem minim
        reprehenderit i exercitation consequat ullamco non eu in.
      </p>

      <p class="about-me-description">
        Aliqua tempor nostrud adipisicing commodo fugiat nostrud cupidatat. la
        commodo nisi exercitation consequat ullamco non eu in.
      </p>
    </section>

    <section class="tech-stack-section">
      <div class="tech-stack">
        <h1 class="tech-stack-title">Skills</h1>
        <p class="tech-stack-description">My most used software</p>

        <div class="apps-container">
          <div class="tech-card">
            <svg
              width="55"
              height="55"
              viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="m5.902 27.201-2.247-25.201h24.69l-2.25 25.197-10.11 2.803z"
                fill="#e44f26"></path><path
                d="m16 27.858 8.17-2.265 1.922-21.532h-10.092z"
                fill="#f1662a"></path><path
                d="m16 13.407h-4.09l-.282-3.165h4.372v-3.091h-.011-7.739l.074.83.759 8.517h6.917z"
                fill="#ebebeb"></path><path
                d="m16 21.434-.014.004-3.442-.929-.22-2.465h-1.673-1.43l.433 4.852 6.332 1.758.014-.004z"
                fill="#ebebeb"></path><g fill="#fff"
                ><path
                  d="m15.989 13.407v3.091h3.806l-.358 4.009-3.448.93v3.216l6.337-1.757.046-.522.726-8.137.076-.83h-.833z"
                ></path><path
                  d="m15.989 7.151v1.92 1.164.007h7.456.01l.062-.694.141-1.567.074-.83z"
                ></path></g
              ></svg
            >
            <p class="technology-title">HTML</p>
          </div>

          <div class="tech-card">
            <svg
              width="53"
              height="53"
              viewBox="0 0 12 13"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="m5.66621022 12.959575-4.61749158-1.2818468-1.02898737-11.54129765h11.30679783l-1.0300784 11.53948975z"
                fill="#264de4"></path><path
                d="m9.41459071 10.9411252.88027029-9.86102243h-4.62173081v10.89830133z"
                fill="#2965f1"></path><g fill="#ebebeb"
                ><path
                  d="m2.37866244 5.36060419.12686616 1.41547714h3.16760159v-1.41547714z"
                ></path><path
                  d="m2.12374564 2.49561108.12867407 1.41550834h3.42071048v-1.41550834z"
                ></path><path
                  d="m5.67313019 9.03679255-.00620303.00165208-1.57644443-.4256718-.100776-1.12892175h-1.42093208l.19831019 2.22252667 2.89953061.80492995.00651474-.001808z"
                ></path></g
              ><path
                d="m8.95852716 5.36060419.25554025-2.86499311h-3.54583109v1.41550834h1.99457285l-.12879875 1.44948477h-1.8657741v1.41547714h1.74302249l-.16430253 1.83578752-1.57871996.42610819v1.47264486l2.9018373-.80424415.02128979-.23914424.33262622-3.7265296z"
                fill="#fff"></path></svg
            >
            <p class="technology-title">CSS</p>
          </div>

          <div class="tech-card">
            <svg
              width="45"
              height="45"
              preserveAspectRatio="xMidYMid"
              viewBox="0 0 256 256"
              xmlns="http://www.w3.org/2000/svg"
              ><path d="m0 0h256v256h-256z" fill="#f7df1e"></path><path
                d="m67.311746 213.932292 19.590908-11.856051c3.7794539 6.701105 7.2175746 12.370896 15.464432 12.370896 7.905117 0 12.88899-3.092318 12.88899-15.120254v-81.798096h24.057499v82.13821c0 24.917333-14.605816 36.258946-35.915175 36.258946-19.2451048 0-30.4164571-9.96734-36.0870603-21.995683"
              ></path><path
                d="m152.380952 211.354413 19.58847-11.341613c5.156572 8.421181 11.858489 14.607035 23.714946 14.607035 9.968153 0 16.324673-4.983873 16.324673-11.857676 0-8.248483-6.529625-11.170134-17.527873-15.980089l-6.012749-2.579505c-17.357206-7.387835-28.871111-16.667225-28.871111-36.257727 0-18.04353 13.7472-31.791543 35.228444-31.791543 15.294172 0 26.292013 5.327645 34.195911 19.247137l-18.731073 12.028343c-4.124444-7.388648-8.591034-10.309486-15.464431-10.309486-7.045689 0-11.513905 4.467809-11.513905 10.309486 0 7.217574 4.468216 10.139631 14.777702 14.607847l6.013968 2.577473c20.449524 8.764546 31.963428 17.699353 31.963428 37.804292 0 21.653537-17.012215 33.509588-39.86692 33.509588-22.339454 0-36.774603-10.653664-43.819073-24.573562"
              ></path></svg
            >
            <p class="technology-title">Javascript</p>
          </div>

          <div class="tech-card">
            <svg
              height="45"
              width="45"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 128 128"
              ><path
                fill="#FDFDFD"
                d="M81.504 9.465c.973 1.207 1.469 2.836 2.457 6.09l21.656 71.136a90.079 90.079 0 0 0-25.89-8.765L65.629 30.28a1.833 1.833 0 0 0-3.52.004L48.18 77.902a90.104 90.104 0 0 0-26.003 8.778l21.758-71.14c.996-3.25 1.492-4.876 2.464-6.083a8.023 8.023 0 0 1 3.243-2.398c1.433-.575 3.136-.575 6.535-.575H71.72c3.402 0 5.105 0 6.543.579a7.988 7.988 0 0 1 3.242 2.402Zm0 0"
              ></path><path
                fill="#ff5d01"
                d="M84.094 90.074c-3.57 3.055-10.696 5.137-18.903 5.137-10.07 0-18.515-3.137-20.754-7.356-.8 2.418-.98 5.184-.98 6.954 0 0-.527 8.675 5.508 14.71a5.671 5.671 0 0 1 5.672-5.671c5.37 0 5.367 4.683 5.363 8.488v.336c0 5.773 3.527 10.719 8.543 12.805a11.62 11.62 0 0 1-1.172-5.098c0-5.508 3.23-7.555 6.988-9.938 2.989-1.894 6.309-4 8.594-8.222a15.513 15.513 0 0 0 1.875-7.41 15.55 15.55 0 0 0-.734-4.735Zm0 0"
              ></path><path
                fill="url(#b)"
                d="M84.094 90.074c-3.57 3.055-10.696 5.137-18.903 5.137-10.07 0-18.515-3.137-20.754-7.356-.8 2.418-.98 5.184-.98 6.954 0 0-.527 8.675 5.508 14.71a5.671 5.671 0 0 1 5.672-5.671c5.37 0 5.367 4.683 5.363 8.488v.336c0 5.773 3.527 10.719 8.543 12.805a11.62 11.62 0 0 1-1.172-5.098c0-5.508 3.23-7.555 6.988-9.938 2.989-1.894 6.309-4 8.594-8.222a15.513 15.513 0 0 0 1.875-7.41 15.55 15.55 0 0 0-.734-4.735Zm0 0"
              ></path></svg
            >
            <p class="technology-title">Astro JS</p>
          </div>

          <div class="tech-card">
            <svg
              width="45"
              height="45"
              preserveAspectRatio="xMidYMid"
              viewBox="0 0 256 256"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="m251.172245 116.593517-111.773492-111.76506398c-6.43232-6.43793736-16.872901-6.43793736-23.313647 0l-23.2097197 23.20971908 29.4426087 29.4426088c6.842415-2.3117025 14.687598-.7612046 20.14243 4.6936272 5.480111 5.4885383 7.019374 13.4011341 4.651494 20.2660201l28.375237 28.3752368c6.864886-2.365071 14.785908-.834235 20.268829 4.657112 7.662606 7.659797 7.662606 20.075017 0 27.740432-7.665415 7.665415-20.080635 7.665415-27.748859 0-5.763807-5.769426-7.187906-14.23537-4.269487-21.336201l-26.462394-26.4623945-.002809 69.6375845c1.867901.926928 3.631873 2.160023 5.187989 3.710521 7.662606 7.659797 7.662606 20.075017 0 27.746049-7.665415 7.662607-20.086252 7.662607-27.740432 0-7.662606-7.671032-7.662606-20.086252 0-27.746049 1.893181-1.890372 4.084102-3.320088 6.421084-4.280723v-70.2864335c-2.336982-.9550168-4.525094-2.3763067-6.421084-4.2807229-5.805941-5.7975142-7.201951-14.3168264-4.227354-21.4457468l-29.0212779-29.0268954-76.64010496 76.6344876c-6.44074623 6.443555-6.44074623 16.884136 0 23.322074l111.77349086 111.767872c6.435129 6.437938 16.872901 6.437938 23.316456 0l111.251042-111.248231c6.437935-6.440746 6.437935-16.886945 0-23.324883"
                fill="#de4c36"></path></svg
            >
            <p class="technology-title">Git</p>
          </div>

          <div class="tech-card">
            <svg
              width="45"
              height="45"
              preserveAspectRatio="xMidYMid"
              viewBox="0 0 256 256"
              xmlns="http://www.w3.org/2000/svg"
              ><path d="m0 256v-256h256v256z" fill="#c12127"></path><path
                d="m48 48h160v160h-32v-128h-48v128h-80z"
                fill="#fff"></path></svg
            >
            <p class="technology-title">NPM</p>
          </div>
        </div>
      </div>
    </section>

    <Connect />
  </body>

  <footer class="footer">
    <hr class="hr" />
    <p class="copyrights">© 2024 • Daniyal Master. All Rights Reserved.</p>
  </footer>
</html>
