---
import "../styles/global.css";
import "../styles/about.css";
import Navigation from "../components/Navigation.astro";
import Connect from "../components/Connect.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Daniyal Master's about page. Learn about his passion for tech, tech stack, and access his social media links."
    />
    <link rel="icon" type="image/png" sizes="32x32" href="Logo.webp" />
    <link rel="apple-touch-icon" sizes="180x180" href="Logo.webp" />
    <link rel="mask-icon" href="Logo.webp" />
    <title>About | Daniyal Master</title>
  </head>
  <body>
    <Navigation />

    <section class="about-me">
      <h2 class="about-me-title">About Me</h2>
      <p class="about-me-description">
        Aliqua tempor nostrud adipisicing commodo fugiat nostrud cupidatat. Duis
        officia veniam ad eu cillum laboris Lorem minim reprehenderit est velit
        sit. Nulla commodo nisi exercitation consequat ullamco non eu in.
      </p>

      <p class="about-me-description">
        Aliqua tempor nostrud adipisicing commodo fugiat nostrud cupidatat. Duis
        officia veniam ad eu cillum laborum sint proident laboris Lorem minim
        reprehenderit i exercitation consequat ullamco non eu in.
      </p>

      <p class="about-me-description">
        Aliqua tempor nostrud adipisicing commodo fugiat nostrud cupidatat. la
        commodo nisi exercitation consequat ullamco non eu in.
      </p>
    </section>

    <section class="tech-stack-section">
      <div class="tech-stack">
        <h1 class="tech-stack-title">Skills</h1>
        <p class="tech-stack-description">My most used software</p>

        <div class="apps-container">
          <div class="tech-card">
            <img src="html.svg" alt="html icon" />
            <p class="technology-title">HTML</p>
          </div>

          <div class="tech-card">
            <img src="css.svg" alt="css icon" />
            <p class="technology-title">CSS</p>
          </div>

          <div class="tech-card">
            <img src="javascript.svg" alt="javascript icon" />
            <p class="technology-title">Javascript</p>
          </div>

          <div class="tech-card">
            <img src="Astro.png" alt="astro icon" />
            <p class="technology-title">Astro JS</p>
          </div>

          <div class="tech-card">
            <img src="git.svg" alt="git icon" />
            <p class="technology-title">Git</p>
          </div>

          <div class="tech-card">
            <img src="npm.svg" alt="npm icon" />
            <p class="technology-title">NPM</p>
          </div>
        </div>
      </div>
    </section>

    <Connect />
  </body>

  <footer class="footer">
    <hr class="hr" />
    <p class="copyrights">© 2024 • Daniyal Master. All Rights Reserved.</p>
  </footer>
</html>
