---
import "../styles/global.css";
import "../styles/blog template.css";
import Navigation from "../components/Navigation.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Daniyal Master's Blog Article." />
    <link rel="icon" type="image/png" sizes="32x32" href="Logo.png" />
    <title>Blog | Daniyal Master</title>
  </head>
  <body>
    <div class="maincontainer">
      <section class="post-section">
        <div class="blog-top">
          <a class="all-posts" href="blogs">
            <p>← View all posts</p>
          </a>

          <h1>Eiusmod et quis magna minim deserunt</h1>
        </div>

        <div class="post-information">
          <p><span>Published:</span> 2024 - 05 - 24</p>
          <p>5 min read</p>
          <hr class="post-hr" />
        </div>

        <section class="blog-content">
          <h2>Aliquip qui consequat nulla voluptate</h2>

          <p>
            Et irure nisi irure est ea sit sit duis elit tempor consequat. Aute
            aliqua id occaecat. Adipisicing cupidatat et laboris aliqua magna
            cillum officia minim qui Lorem sint veniam non officia id anim. Et
            irure nisi irure est ea sit sit duis elit tempor consequat. Aute
            aliqua id occ ullamco esse aute qui nisi non exercitation id. Ex
            laboris aliqua magna cillum officia minim qui Lorem sint veniam non
            officia id anim.
          </p>

          <h2>Aliquip qui consequat nulla voluptate</h2>

          <p>
            Et irure nisi irure est ea sit sit duis elit tempor consequat. Aute
            aliqua id occaecat. Adipisicing cupidatat et excepteur sunt ut est
            ut ullamco esse aute qui nisi non exercitation id. Ex laboris aliqua
            magna cillum officia minim qui Lorem sint veniam non officia id
            anim. Et irure nisi irure est ea sit sit duis elit tempor consequat.
            Aute aliqua id occaecat. Adipisicing cupidatat et excepteur sunt ut
            est ut ullamco esse aute qui nisi non exercitation id. Ex laboris
            aliqua magna cillum offi
          </p>

          <h2>Aliquip qui consequat nulla voluptate</h2>

          <p>
            Et irure nisi irure est ea t duis elit tempor consequat. Aute aliqua
            id occaecat. Adipisicing cupidatat et excepteur sunt ut est ut
            ullamco esse aute qui nisi non exercitation id. Ex laboris aliqua
            magna cillum officia minim qui Lorem sint veniam non officia id
            anim. Et irure nisi irure est ea sit sit duis elit tempor consequat.
            Aute aliqua id occaecat. Adipisicing cupidatat et excepteur sunt ut
            est ut ullamco esse aute qui nisi non exercitation id. Ex laboris
            aliqua magna cillum officia minim qui Lorem sint veniam non officia
            id anim.
          </p>

          <h2>Aliquip qui consequat nulla voluptate</h2>

          <p>
            Et irure nisi irure est ea sit sit duis elit tempor consequat. Aute
            aliqua id occaecat. Adipisicing cupidatat et excepteur sunt ut est
            ut ullamco esse aute qui nisi non exercitation id. Ex laboris aliqua
            magna cillum officia minim qui Lorem sint veniam non officia id
            anim. Et irure nisi irure est ea sit sit duis elit tempor consequat.
            Aute aliqua id occaecat. Adipisicing cupidatat et excepteur sunt ut
            est ut ullamco esse aute qui nisi non exercitation id. Ex laboris
            aliqua magna cillum officia minim qui Lorem sint veniam non officia
            id anim.
          </p>

          <h2>Aliquip qui consequat nulla voluptate</h2>

          <p>
            Et irure nisi irure est ea sit sit duis elit tempor consequat. Aute
            aliqua id occaecat. Adipisicing cupidatat et excepteur sunt ut est
            ut ullamco esse aute qui nisi non exercitation id. Ex laboris aliqua
            magna cillum officia minim qui Lorem sint veniam non officia id Et
            irure nisi irure est ea sit sit duis elit tempor consequat. Aute
            aliqua id occaecat. Adipisicing cupidatat et excepteur sunt ut est
            ut ullamco esse aute qui nisi non exercitation id. Ex laboris aliqua
            magna cillum officia minim qui Lorem sint veniam non officia id
            anim.
          </p>

          <p>
            Et irure nisi irure est ea sit sit duis elit tempor consequat. Aute
            aliqua id occaecat. Adipisicing cupidatat et excepteur sunt ut est
            ut ullamco esse aute qui nisi non exercitation id. Ex laboris aliqua
            magna cillum officia minim qui Lorem sint veniam non officia id
            anim.
          </p>

          <p>
            Et irure nisi irure est ea sit sit duis elit tempor consequat. Aute
            aliqua id occaecat. Adipisicing cupidatat et excepteur sunt ut est
            ut ullamco esse aute qui nisi non exercitation id. Ex laboris aliqua
            magna cillum officia minim qui Lorem sint veniam non officia id
            anim. Et irure nisi irure est ea sit sit duis elit tempor consequat.
            Aute aliqua id occaecat. Adipisicing cupidatat et excepteur sunt ut
            est ut ullamco esse aute qui nisi non exercitation id. Ex laboris
            aliqua magna cillum officia minim qui Lorem sint veniam non officia
            id anim.
          </p>

          <h2>Aliquip qui consequat nulla voluptate</h2>

          <p>
            Et irure nisi irure est ea sit sit duis elit tempor consequat. Aute
            aliqua id occaecat. Adipisicing cupidatat et excepteur sunt ut est
            ut ullamco esse aute qui nisi non exercitation id. Ex laboris aliqua
            magna cillum officia minim qui Lorem sint veniam non officia id
            anim. Et irure nisi irure est ea sit sit duis elit tempor consequat.
            Aute aliqua id occaecat. Adipisicing cupidatat et excepteur sunt ut
            est ut ullamco esse aute qui nisi non exercitation id. Ex laboris
            aliqua magna cillum officia minim qui Lorem sint veniam non officia
            id anim.
          </p>
        </section>
      </section>

      <Navigation />
    </div>
  </body>
</html>
