---
import "../styles/global.css";
import "../styles/blogs.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" sizes="32x32" href="/public/Logo.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/public/Logo.png" />
    <title>Blog | Daniyal Master</title>
  </head>
  <body>
    <Navigation />

    <section class="blog-posts-section">
      <h1 class="blog-section-title">Featured Blog Posts</h1>
      <p class="blog-section-description">
        I post developer and tech blogs every Friday
      </p>

      <div class="blog-posts">
        <a class="post-link" href="blog template">
          <div class="post">
            <h2 class="post-title">
              In qui labore esse nostrud nostrud non elit duis qui duis commodo
            </h2>

            <div class="published-date">
              <p class="published">2024 - 05 - 24</p>
            </div>

            <div class="read-more">
              <p class="arrow">↗︎</p>
            </div>
          </div>
        </a>

        <hr class="blog-hr" />

        <a class="post-link" href="blog template">
          <div class="post">
            <h2 class="post-title">
              In qui labore esse nostrud nostrud non elit duis qui duis commodo
            </h2>

            <div class="published-date">
              <p class="published">2024 - 05 - 24</p>
            </div>

            <div class="read-more">
              <p class="arrow">↗︎</p>
            </div>
          </div>
        </a>

        <hr class="blog-hr" />

        <a class="post-link" href="blog template">
          <div class="post">
            <h2 class="post-title">
              In qui labore esse nostrud nostrud non elit duis qui duis commodo
            </h2>

            <div class="published-date">
              <p class="published">2024 - 05 - 24</p>
            </div>

            <div class="read-more">
              <p class="arrow">↗︎</p>
            </div>
          </div>
        </a>

        <hr class="blog-hr" />

        <a class="post-link" href="blog template">
          <div class="post">
            <h2 class="post-title">
              In qui labore esse nostrud nostrud non elit duis qui duis commodo
            </h2>

            <div class="published-date">
              <p class="published">2024 - 05 - 24</p>
            </div>

            <div class="read-more">
              <p class="arrow">↗︎</p>
            </div>
          </div>
        </a>

        <hr class="blog-hr" />

        <a class="post-link" href="blog template">
          <div class="post">
            <h2 class="post-title">
              In qui labore esse nostrud nostrud non elit duis qui duis commodo
            </h2>

            <div class="published-date">
              <p class="published">2024 - 05 - 24</p>
            </div>

            <div class="read-more">
              <p class="arrow">↗︎</p>
            </div>
          </div>
        </a>

        <hr class="blog-hr" />

        <a class="post-link" href="blog template">
          <div class="post">
            <h2 class="post-title">
              In qui labore esse nostrud nostrud non elit duis qui duis commodo
            </h2>

            <div class="published-date">
              <p class="published">2024 - 05 - 24</p>
            </div>

            <div class="read-more">
              <p class="arrow">↗︎</p>
            </div>
          </div>
        </a>

        <hr class="blog-hr" />

        <a class="post-link" href="blog template">
          <div class="post">
            <h2 class="post-title">
              In qui labore esse nostrud nostrud non elit duis qui duis commodo
            </h2>

            <div class="published-date">
              <p class="published">2024 - 05 - 24</p>
            </div>

            <div class="read-more">
              <p class="arrow">↗︎</p>
            </div>
          </div>
        </a>

        <hr class="blog-hr" />

        <a class="post-link" href="blog template">
          <div class="post">
            <h2 class="post-title">
              In qui labore esse nostrud nostrud non elit duis qui duis commodo
            </h2>

            <div class="published-date">
              <p class="published">2024 - 05 - 24</p>
            </div>

            <div class="read-more">
              <p class="arrow">↗︎</p>
            </div>
          </div>
        </a>

        <hr class="blog-hr" />

        <a class="post-link" href="blog template">
          <div class="post">
            <h2 class="post-title">
              In qui labore esse nostrud nostrud non elit duis qui duis commodo
            </h2>

            <div class="published-date">
              <p class="published">2024 - 05 - 24</p>
            </div>

            <div class="read-more">
              <p class="arrow">↗︎</p>
            </div>
          </div>
        </a>

        <hr class="blog-hr" />

        <a class="post-link" href="blog template">
          <div class="post">
            <h2 class="post-title">
              In qui labore esse nostrud nostrud non elit duis qui duis commodo
            </h2>

            <div class="published-date">
              <p class="published">2024 - 05 - 24</p>
            </div>

            <div class="read-more">
              <p class="arrow">↗︎</p>
            </div>
          </div>
        </a>
      </div>
    </section>
  </body>
</html>

<Footer />

<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.body.classList.add("fade-in");
  });

  function handlePageTransition(event) {
    event.preventDefault();

    document.body.classList.remove("fade-in");
    document.body.classList.add("fade-out");
    window.location.href = event.target.href;
  }

  document.querySelectorAll(".navlink").forEach((link) => {
    link.addEventListener("click", handlePageTransition);
  });
</script>
