---
import "../styles/global.css";
import "../styles/index.css";
import Navigation from "../components/Navigation.astro";
import Connect from "../components/Connect.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Daniyal Master's Homepage. Student, Web Developer, and Aspiring Full Stack Developer."
    />
    <link rel="icon" type="image/png" sizes="32x32" href="Logo.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="Logo.webp" />
    <link rel="mask-icon" href="Logo.png" />
    <title>Home | Daniyal Master</title>
  </head>
  <body>
    <Navigation />

    <section class="hero-section">
      <div class="hero-background">
        <div class="container"></div>
      </div>

      <div class="hero-content">
        <h1 class="hero-title">Hi, I'm Daniyal.</h1>
        <p class="hero-description">
          I'm a 14 year old student, web developer, and apsiring full stack
          developer. This is my space where I share projects and thoughts.
        </p>
      </div>
    </section>

    <section class="featured-projects-section">
      <div class="featured-projects-top">
        <h1 class="featured-projects-title">Featured Projects</h1>
        <a
          class="all-projects"
          href="https://github.com/daniyalmaster693?tab=repositories"
          target="_blank"
        >
          <p>View all projects ↗︎</p>
        </a>
      </div>

      <div class="featured-projects">
        <a class="project-link" href="/">
          <div class="project">
            <div class="project-content">
              <p class="project-title">Sports Sync</p>
              <p class="project-description">
                Dolor irure voluptate est consectetur eiusmod cupidatat.
              </p>
            </div>

            <div class="learn-more">
              <p class="arrow">↗︎</p>
            </div>
          </div>
        </a>

        <hr class="project-hr" />

        <a class="project-link" href="/">
          <div class="project">
            <div class="project-content">
              <p class="project-title">Spotify Adblock</p>
              <p class="project-description">
                Dolor irure voluptate est consectetur eiusmod cupidatat.
              </p>
            </div>

            <div class="learn-more">
              <p class="arrow">↗︎</p>
            </div>
          </div>
        </a>

        <hr class="project-hr" />

        <a class="project-link" href="/">
          <div class="project">
            <div class="project-content">
              <p class="project-title">Weather App</p>
              <p class="project-description">
                Dolor irure voluptate est consectetur eiusmod cupidatat.
              </p>
            </div>

            <div class="learn-more">
              <p class="arrow">↗︎</p>
            </div>
          </div>
        </a>

        <hr class="project-hr" />
      </div>
    </section>

    <section class="blog-posts-section">
      <div class="blog-section-top">
        <h1 class="blog-section-title">Featured Blog Posts</h1>
        <a class="all-posts" href="blogs" target="_blank">
          <p>View all posts ↗︎</p>
        </a>
      </div>

      <div class="blog-posts">
        <a class="post-link" href="blog template">
          <div class="post">
            <div class="blog-content">
              <h2 class="post-title">Building my portfolio website</h2>

              <div class="published-date">
                <p class="published">2024 - 05 - 24</p>
              </div>
            </div>

            <div class="read-more">
              <p class="arrow">↗︎</p>
            </div>
          </div>
        </a>

        <hr class="blog-hr" />

        <a class="post-link" href="blog template">
          <div class="post">
            <div class="blog-content">
              <h2 class="post-title">My Raycast Setup</h2>

              <div class="published-date">
                <p class="published">2024 - 05 - 24</p>
              </div>
            </div>

            <div class="read-more">
              <p class="arrow">↗︎</p>
            </div>
          </div>
        </a>

        <hr class="blog-hr" />

        <a class="post-link" href="blog template">
          <div class="post">
            <div class="blog-content">
              <h2 class="post-title">My Mac Setup</h2>

              <div class="published-date">
                <p class="published">2024 - 05 - 24</p>
              </div>
            </div>

            <div class="read-more">
              <p class="arrow">↗︎</p>
            </div>
          </div>
        </a>
      </div>
    </section>

    <Connect />

    <footer class="footer">
      <hr class="hr" />
      <p class="copyrights">© 2024 • Daniyal Master. All Rights Reserved.</p>
    </footer>
  </body>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      document.body.classList.add("fade-in");
    });

    function handlePageTransition(event) {
      event.preventDefault();

      document.body.classList.remove("fade-in");
      document.body.classList.add("fade-out");
      window.location.href = event.target.href;
    }

    document.querySelectorAll(".navlink").forEach((link) => {
      link.addEventListener("click", handlePageTransition);
    });
  </script>
</html>
