---
import "../styles/global.css";
import "../styles/index.css";
import ScrollBlur from "../components/Scroll Blur.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Daniyal Master's Homepage. Student, Web Developer, and Aspiring Full Stack Developer."
    />
    <link rel="icon" type="image/png" sizes="32x32" href="Logo.png" />
    <link rel="preload" href="SF-Pro.ttf" as="font" type="font/ttf" />
    <title>Daniyal Master</title>
  </head>
  <body>
    <div class="maincontainer">
      <ScrollBlur />

      <section class="hero-section">
        <div class="hero-content">
          <h1 class="hero-title">Hi, I'm Daniyal.</h1>
          <p class="hero-description">
            I'm a student, web developer, and aspiring full stack developer. I
            primarily work using the Javascript ecosystem
          </p>
        </div>
      </section>

      <section class="featured-projects-section">
        <div class="featured-projects-top">
          <h1 class="featured-projects-title">Featured Projects</h1>
          <a
            class="all-projects"
            href="https://github.com/daniyalmaster693?tab=repositories"
            target="_blank"
          >
            <p>
              View all projects

              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 16 16"
                style="align-self:flex-end"
                class="arrow"
                ><path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.75"
                  d="M6.25 3.75h6m0 0v6m0-6-8.5 8.5"></path></svg
              >
            </p>
          </a>
        </div>

        <div class="featured-projects">
          <a class="project-link" href="/projects/sportssync">
            <div class="project">
              <div class="project-content">
                <p class="project-title">Sportssync</p>
                <p class="project-description">
                  View sports scores, news, and standings in Raycast
                </p>
              </div>

              <div class="learn-more">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 16 16"
                  class="arrow"
                  ><path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9.75 4.75 13.25 8m0 0-3.5 3.25M13.25 8H2.75"
                  ></path></svg
                >
              </div>
            </div>
          </a>

          <hr class="project-hr" />

          <a class="project-link" href="project template">
            <div class="project">
              <div class="project-content">
                <p class="project-title">Course Schedule to Google Calendar</p>
                <p class="project-description">
                  Convert your course schedule to Google Calendar
                </p>
              </div>

              <div class="learn-more">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 16 16"
                  class="arrow"
                  ><path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9.75 4.75 13.25 8m0 0-3.5 3.25M13.25 8H2.75"
                  ></path></svg
                >
              </div>
            </div>
          </a>

          <hr class="project-hr" />

          <a class="project-link" href="project template">
            <div class="project">
              <div class="project-content">
                <p class="project-title">Spotify Adblocker</p>
                <p class="project-description">
                  A simple script to block ads in Spotify on your Mac
                </p>
              </div>

              <div class="learn-more">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 16 16"
                  class="arrow"
                  ><path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9.75 4.75 13.25 8m0 0-3.5 3.25M13.25 8H2.75"
                  ></path></svg
                >
              </div>
            </div>
          </a>

          <hr class="project-hr" />

          <a class="project-link" href="project template">
            <div class="project">
              <div class="project-content">
                <p class="project-title">Calculator App</p>
                <p class="project-description">
                  A simple calculator app with a clean design and keyboard
                  support
                </p>
              </div>

              <div class="learn-more">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 16 16"
                  class="arrow"
                  ><path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9.75 4.75 13.25 8m0 0-3.5 3.25M13.25 8H2.75"
                  ></path></svg
                >
              </div>
            </div>
          </a>

          <hr class="project-hr" />
        </div>
      </section>

      <section class="blog-posts-section">
        <div class="blog-section-top">
          <h1 class="blog-section-title">Featured Blog Posts</h1>
          <a class="all-posts" href="blogs">
            <p>
              View all posts <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 16 16"
                style="align-self:flex-end"
                class="arrow"
                ><path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.75"
                  d="M6.25 3.75h6m0 0v6m0-6-8.5 8.5"></path></svg
              >
            </p>
          </a>
        </div>

        <div class="blog-posts">
          <a class="post-link" href="/blogs/creating-my-portfolio-website">
            <div class="post">
              <div class="blog-content">
                <h2 class="post-title">Creating my portfolio website</h2>

                <div class="published-date">
                  <p class="published">2024-05-24</p>
                </div>
              </div>

              <div class="read-more">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 16 16"
                  class="arrow"
                  ><path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9.75 4.75 13.25 8m0 0-3.5 3.25M13.25 8H2.75"
                  ></path></svg
                >
              </div>
            </div>
          </a>

          <hr class="blog-hr" />

          <a
            class="post-link"
            href="/blogs/how-i-use-an-android-phone-with-a-mac"
          >
            <div class="post">
              <div class="blog-content">
                <h2 class="post-title">
                  How I use an Android phone with a Mac
                </h2>

                <div class="published-date">
                  <p class="published">2024-05-24</p>
                </div>
              </div>

              <div class="read-more">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 16 16"
                  class="arrow"
                  ><path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9.75 4.75 13.25 8m0 0-3.5 3.25M13.25 8H2.75"
                  ></path></svg
                >
              </div>
            </div>
          </a>

          <hr class="blog-hr" />

          <a class="post-link" href="/blogs/my-raycast-setup">
            <div class="post">
              <div class="blog-content">
                <h2 class="post-title">My Raycast Setup</h2>

                <div class="published-date">
                  <p class="published">2024-05-24</p>
                </div>
              </div>

              <div class="read-more">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 16 16"
                  class="arrow"
                  ><path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9.75 4.75 13.25 8m0 0-3.5 3.25M13.25 8H2.75"
                  ></path></svg
                >
              </div>
            </div>
          </a>

          <hr class="blog-hr" />

          <a class="post-link" href="/blogs/my-mac-setup">
            <div class="post">
              <div class="blog-content">
                <h2 class="post-title">My Mac Setup</h2>

                <div class="published-date">
                  <p class="published">2024-05-24</p>
                </div>
              </div>

              <div class="read-more">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 16 16"
                  class="arrow"
                  ><path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9.75 4.75 13.25 8m0 0-3.5 3.25M13.25 8H2.75"
                  ></path></svg
                >
              </div>
            </div>
          </a>
        </div>
      </section>

      <section class="connect-with-me">
        <div class="connect-with-me-top">
          <h2 class="connect-with-me-title">Connect</h2>
          <p class="connect-with-me-description">
            Reach out using social media or send me an email to get in touch.
          </p>
        </div>

        <div class="social-media-links">
          <div class="github">
            <a
              href="https://github.com/daniyalmaster693"
              target="_blank"
              aria-label="Daniyal Master's Github Profile"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#a6a6a6"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-github"
                ><path
                  d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
                ></path></svg
              >
            </a>
          </div>

          <div class="codepen">
            <a
              href="https://codepen.io/daniyalmaster693"
              target="_blank"
              aria-label="Daniyal Master's Codepen Profile"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#a6a6a6"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-codepen"
              >
                <polygon points="12 2 22 8.5 22 15.5 12 22 2 15.5 2 8.5 12 2"
                ></polygon>
                <line x1="12" y1="22" x2="12" y2="15.5"></line>
                <polyline points="22 8.5 12 15.5 2 8.5"></polyline>
                <polyline points="2 15.5 12 8.5 22 15.5"></polyline>
                <line x1="12" y1="2" x2="12" y2="8.5"></line>
              </svg>
            </a>
          </div>

          <div class="linkedin">
            <a
              href="https://www.linkedin.com/in/daniyal-master-841925319/"
              target="_blank"
              aria-label="Daniyal Master's Linkedin Profile"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#a6a6a6"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-linkedin"
                ><path
                  d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
                ></path><rect x="2" y="9" width="4" height="12"></rect><circle
                  cx="4"
                  cy="4"
                  r="2"></circle></svg
              >
            </a>
          </div>

          <div class="email">
            <a
              href="mailto:daniyalmaster693@gmail.com"
              target="_blank"
              aria-label="Daniyal Master's Email"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#a6a6a6"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-mail"
                ><path
                  d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
                ></path><polyline points="22,6 12,13 2,6"></polyline></svg
              >
            </a>
          </div>
        </div>

        <div class="email-copy">
          <button
            class="copy-email"
            value="daniyalmaster693@gmail.com"
            onclick="(() => {
          const email = document.querySelector('.copy-email').value;
          navigator.clipboard.writeText (email);
          const copiedMessage = document.querySelector('.copied-message');
          copiedMessage.style.display = 'block';
          setTimeout(() => {
            copiedMessage.style.display = 'none';}, 
            3000);})()"
          >
            daniyalmaster693@gmail.com
            <svg
              width="19"
              height="19"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="icon-sm"
              ><path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M7 5C7 3.34315 8.34315 2 10 2H19C20.6569 2 22 3.34315 22 5V14C22 15.6569 20.6569 17 19 17H17V19C17 20.6569 15.6569 22 14 22H5C3.34315 22 2 20.6569 2 19V10C2 8.34315 3.34315 7 5 7H7V5ZM9 7H14C15.6569 7 17 8.34315 17 10V15H19C19.5523 15 20 14.5523 20 14V5C20 4.44772 19.5523 4 19 4H10C9.44772 4 9 4.44772 9 5V7ZM5 9C4.44772 9 4 9.44772 4 10V19C4 19.5523 4.44772 20 5 20H14C14.5523 20 15 19.5523 15 19V10C15 9.44772 14.5523 9 14 9H5Z"
                fill="currentColor"></path></svg
            >
          </button>
        </div>

        <div class="copied-message">Copied to clipboard!</div>
      </section>

      <Footer />
    </div>
  </body>
</html>
