---
import "../styles/global.css";
import "../styles/index.css";
import Navigation from "../components/Navigation.astro";
import ShooterStars from "../components/Shooter Stars.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" sizes="32x32" href="Logo.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="Logo.png" />
    <link rel="mask-icon" href="Logo.png" />
    <title>Home | Daniyal Master</title>
  </head>
  <body>
    <Navigation />

    <section class="hero-section">
      <div class="hero-background">
        <ShooterStars />
      </div>

      <div class="hero-content">
        <h1 class="hero-title">Hi, I'm Daniyal.</h1>
        <p class="hero-description">
          I'm a 14 year old student, web developer, and apsiring full stack
          developer. This is my space where I share projects and thoughts.
        </p>
      </div>
    </section>
  </body>

  <footer class="footer">
    <hr class="hr" />

    <section class="social-media-links">
      <div class="github">
        <a href="https://github.com/daniyalmaster693" target="_blank"> </a>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#a6a6a6"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-github"
          ><path
            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
          ></path></svg
        >
      </div>

      <div class="codepen">
        <a href="https://codepen.io/daniyalmaster693" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#a6a6a6"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-codepen"
          >
            <polygon points="12 2 22 8.5 22 15.5 12 22 2 15.5 2 8.5 12 2"
            ></polygon>
            <line x1="12" y1="22" x2="12" y2="15.5"></line>
            <polyline points="22 8.5 12 15.5 2 8.5"></polyline>
            <polyline points="2 15.5 12 8.5 22 15.5"></polyline>
            <line x1="12" y1="2" x2="12" y2="8.5"></line>
          </svg>
        </a>
      </div>

      <div class="linkedin">
        <a
          href="https://www.linkedin.com/in/daniyal-master-841925319/"
          target="_blank"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#a6a6a6"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-linkedin"
            ><path
              d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
            ></path><rect x="2" y="9" width="4" height="12"></rect><circle
              cx="4"
              cy="4"
              r="2"></circle></svg
          >
        </a>
      </div>

      <div class="email">
        <a href="mailto:daniyalmaster693@gmail.com" target="_blank"> </a>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#a6a6a6"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-mail"
          ><path
            d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
          ></path><polyline points="22,6 12,13 2,6"></polyline></svg
        >
      </div>
    </section>

    <p class="copyrights">© 2024 • Daniyal Master. All Rights Reserved.</p>
  </footer>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      document.body.classList.add("fade-in");
    });

    function handlePageTransition(event) {
      event.preventDefault();

      document.body.classList.remove("fade-in");
      document.body.classList.add("fade-out");
      window.location.href = event.target.href;
    }

    document.querySelectorAll(".navlink").forEach((link) => {
      link.addEventListener("click", handlePageTransition);
    });
  </script>
</html>
