---
import "../styles/global.css";
import "../styles/projects.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" sizes="32x32" href="/public/Logo.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/public/Logo.png" />
    <title>Projects | Daniyal Master</title>
  </head>
  <body>
    <Navigation />

    <section class="featured-projects-section">
      <div class="featured-projects-top">
        <h1 class="featured-projects-title">Featured Projects</h1>
        <a class="all-projects" href="projects">
          <p>View all projects ↗︎</p>
        </a>
      </div>

      <div class="featured-projects">
        <a class="project-link" href="/">
          <div class="project">
            <div class="project-image">
              <img src="/public/Library App.png" alt="library app" />
            </div>

            <div class="project-content">
              <p class="project-title">Weather App</p>
              <p class="project-description">
                Dolor irure voluptate est consectetur eiusmod cupidatat.
              </p>
            </div>

            <div class="learn-more">
              <p class="arrow">↗︎</p>
            </div>
          </div>
        </a>

        <div class="right-side">
          <a class="project-link" href="/">
            <div class="project">
              <div class="project-image">
                <img src="/public/Tic Tac Toe.png" alt="tic tac toe game" />
              </div>

              <div class="project-content">
                <p class="project-title">To Do List</p>
                <p class="project-description">
                  Dolor irure voluptate est consectetur eiusmod cupidatat.
                </p>
              </div>

              <div class="learn-more">
                <p class="arrow">↗︎</p>
              </div>
            </div>
          </a>
        </div>

        <a class="project-link" href="/">
          <div class="project">
            <div class="project-image">
              <img src="/public/Tic Tac Toe.png" alt="tic tac toe game" />
            </div>

            <div class="project-content">
              <p class="project-title">Tic Tac Toe</p>
              <p class="project-description">
                Dolor irure voluptate est consectetur eiusmod cupidatat.
              </p>
            </div>

            <div class="learn-more">
              <p class="arrow">↗︎</p>
            </div>
          </div>
        </a>

        <div class="right-side">
          <a class="project-link" href="/">
            <div class="project">
              <div class="project-image">
                <img src="/public/Library App.png" alt="library app" />
              </div>

              <div class="project-content">
                <p class="project-title">Library App</p>
                <p class="project-description">
                  Dolor irure voluptate est consectetur eiusmod cupidatat.
                </p>
              </div>

              <div class="learn-more">
                <p class="arrow">↗︎</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </section>

    <Footer />

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        document.body.classList.add("fade-in");
      });

      function handlePageTransition(event) {
        event.preventDefault();

        document.body.classList.remove("fade-in");
        document.body.classList.add("fade-out");
        window.location.href = event.target.href;
      }

      document.querySelectorAll(".navlink").forEach((link) => {
        link.addEventListener("click", handlePageTransition);
      });
    </script>
  </body>
</html>
