---
import "../styles/global.css";
import "../styles/projects.css";
import Navigation from "../components/Navigation.astro";
import ScrollBlur from "../components/Scroll Blur.astro";
import Footer from "../components/Footer.astro";

interface Frontmatter {
  order: string;
  title: string;      
  description: string;
}

interface Project {
  frontmatter: Frontmatter;
  url: string;
}

const allProjects: Project[] = Object.values(
  import.meta.glob("./projects/*.md", { eager: true })
);

const sortedProjects = allProjects.sort((a: Project, b: Project) => {
  const orderA = parseInt(a.frontmatter.order || "0", 10);
  const orderB = parseInt(b.frontmatter.order || "0", 10);
  return orderA - orderB; 
});

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Daniyal Master's Projects. Current and previous projects"
    />
    <link
      rel="icon"
      type="image/webp"
      sizes="32x32"
      href="../../Daniyal Master.webp"
    />
    <title>Projects | Daniyal Master</title>
  </head>
  <div class="maincontainer">
    <ScrollBlur />
    <Navigation />
      <section class="featured-projects-section">
        <div class="featured-projects-top">
          <h1 class="featured-projects-title">Featured Projects</h1>
          <a
            class="all-projects"
            href="https://github.com/daniyalmaster693?tab=repositories"
            target="_blank"
          >
            <p>
              View all projects <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 16 16"
                style="align-self:flex-end"
                class="arrow"
                ><path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6.25 3.75h6m0 0v6m0-6-8.5 8.5"></path></svg
              >
            </p>
          </a>
        </div>

        <div class="featured-projects">
          {
            sortedProjects.map((project, index) => (
              <div>
                <a class="project-link" href={project.url}>
                  <div class="project">
                    <div class="project-content">
                      <h2 class="project-title">{project.frontmatter.title}</h2>
                      <p class="project-description">
                        {project.frontmatter.description}
                      </p>
                    </div>

                    <div class="learn-more">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 16 16"
                        class="arrow"
                      >
                        <path
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M9.75 4.75 13.25 8m0 0-3.5 3.25M13.25 8H2.75"
                        />
                      </svg>
                    </div>
                  </div>
                </div>
                </a>

                {index !== sortedProjects.length - 1 && (
                  <hr class="project-hr" />
                )}
            ))
          }

  
      </section>
      <Footer />
      </div>
  </body>
</html>
