---
import "../styles/global.css";
import "../styles/projects.css";
import ScrollBlur from "../components/Scroll Blur.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Daniyal Master's Projects. Current and previous projects"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="Logo.png" />
    <title>Projects | Daniyal Master</title>
  </head>
  <body>
    <div class="featured-projects-section">
      <ScrollBlur />

      <div class="featured-projects-top">
        <h1 class="featured-projects-title">Featured Projects</h1>
        <a
          class="all-projects"
          href="https://github.com/daniyalmaster693?tab=repositories"
          target="_blank"
        >
          <p>View all projects <span class="arrow">↗︎</span></p>
        </a>
      </div>

      <div class="featured-projects">
        <a class="project-link" href="/projects/sportssync">
          <div class="project-1">
            <div class="project-content">
              <p class="project-title">Sportssync</p>
              <p class="project-description">
                View sports scores, news, and standings in Raycast
              </p>
            </div>

            <div class="learn-more">
              <p class="arrow">↗︎</p>
            </div>
          </div>
        </a>

        <hr class="project-hr" />

        <a class="project-link">
          <div class="project-2">
            <div class="project-content">
              <p class="project-title">Course Schedule to Google Calendar</p>
              <p class="project-description">
                Convert your course schedule to Google Calendar
              </p>
            </div>

            <div class="learn-more">
              <p class="arrow">↗︎</p>
            </div>
          </div>
        </a>

        <hr class="project-hr" />

        <div class="project-link">
          <div class="project-3">
            <div class="project-content">
              <p class="project-title">Spotify Adblocker</p>
              <p class="project-description">
                A simple script to block ads in Spotify on your Mac
              </p>
            </div>

            <div class="learn-more">
              <p class="arrow">↗︎</p>
            </div>
          </div>
        </div>

        <hr class="project-hr" />

        <a class="project-link">
          <div class="project-4">
            <div class="project-content">
              <p class="project-title">Add Project Title</p>
              <p class="project-description">Add project description</p>
            </div>

            <div class="learn-more">
              <p class="arrow">↗︎</p>
            </div>
          </div>
        </a>
      </div>

      <Footer />
    </div>
  </body>
</html>
