---
import "../styles/global.css";
import "../styles/projects.css";
import Navigation from "../components/Navigation.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Daniyal Master's Projects. Current and previous projects"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="Logo.png" />
    <title>Projects | Daniyal Master</title>
  </head>
  <body>
    <div class="featured-projects-section">
      <div class="featured-projects-top">
        <h1 class="featured-projects-title">Featured Projects</h1>
        <a
          class="all-projects"
          href="https://github.com/daniyalmaster693?tab=repositories"
          target="_blank"
        >
          <p>View all projects <span class="arrow">↗︎</span></p>
        </a>
      </div>

      <div class="featured-projects">
        <a class="project-link" href="project template">
          <div class="project">
            <div class="project-content">
              <p class="project-title">Sportssync</p>
              <p class="project-description">
                Dolor irure voluptate est consectetur eiusmod cupidatat.
              </p>
            </div>

            <div class="learn-more">
              <p class="arrow">↗︎</p>
            </div>
          </div>
        </a>

        <hr class="project-hr" />

        <a class="project-link" href="project template">
          <div class="project">
            <div class="project-content">
              <p class="project-title">Course Schedule to Google Calendar</p>
              <p class="project-description">
                Dolor irure voluptate est consectetur eiusmod cupidatat.
              </p>
            </div>

            <div class="learn-more">
              <p class="arrow">↗︎</p>
            </div>
          </div>
        </a>

        <hr class="project-hr" />

        <a class="project-link" href="project template">
          <div class="project">
            <div class="project-content">
              <p class="project-title">Spotify Adblocker</p>
              <p class="project-description">
                Dolor irure voluptate est consectetur eiusmod cupidatat.
              </p>
            </div>

            <div class="learn-more">
              <p class="arrow">↗︎</p>
            </div>
          </div>
        </a>

        <hr class="project-hr" />

        <a class="project-link" href="/">
          <div class="project">
            <div class="project-content">
              <p class="project-title">Weather App</p>
              <p class="project-description">
                Dolor irure voluptate est consectetur eiusmod cupidatat.
              </p>
            </div>

            <div class="learn-more">
              <p class="arrow">↗︎</p>
            </div>
          </div>
        </a>
      </div>

      <Navigation />
    </div>
  </body>
</html>
