<div class="blog-posts">
  <a class="post-link" href="/">
    <div class="post">
      <h2 class="post-title">
        In qui labore esse nostrud nostrud non elit duis qui duis commodo
      </h2>

      <div class="published-date">
        <p class="published">2024 - 05 - 24</p>
      </div>

      <div class="read-more">
        <p class="arrow">→</p>
      </div>
    </div>
  </a>

  <a class="post-link" href="/">
    <div class="post">
      <h2 class="post-title">
        In qui labore esse nostrud nostrud non elit duis qui duis commodo
      </h2>

      <div class="published-date">
        <p class="published">2024 - 05 - 24</p>
      </div>

      <div class="read-more">
        <p class="arrow">→</p>
      </div>
    </div>
  </a>

  <a class="post-link" href="/">
    <div class="post">
      <h2 class="post-title">
        In qui labore esse nostrud nostrud non elit duis qui duis commodo
      </h2>

      <div class="published-date">
        <p class="published">2024 - 05 - 24</p>
      </div>

      <div class="read-more">
        <p class="arrow">→</p>
      </div>
    </div>
  </a>

  <a class="post-link" href="/">
    <div class="post">
      <h2 class="post-title">
        In qui labore esse nostrud nostrud non elit duis qui duis commodo
      </h2>

      <div class="published-date">
        <p class="published">2024 - 05 - 24</p>
      </div>

      <div class="read-more">
        <p class="arrow">→</p>
      </div>
    </div>
  </a>

  <a class="post-link" href="/">
    <div class="post">
      <h2 class="post-title">
        In qui labore esse nostrud nostrud non elit duis qui duis commodo
      </h2>

      <div class="published-date">
        <p class="published">2024 - 05 - 24</p>
      </div>

      <div class="read-more">
        <p class="arrow">→</p>
      </div>
    </div>
  </a>

  <a class="post-link" href="/">
    <div class="post">
      <h2 class="post-title">
        In qui labore esse nostrud nostrud non elit duis qui duis commodo
      </h2>

      <div class="published-date">
        <p class="published">2024 - 05 - 24</p>
      </div>

      <div class="read-more">
        <p class="arrow">→</p>
      </div>
    </div>
  </a>

  <a class="post-link" href="/">
    <div class="post">
      <h2 class="post-title">
        In qui labore esse nostrud nostrud non elit duis qui duis commodo
      </h2>

      <div class="published-date">
        <p class="published">2024 - 05 - 24</p>
      </div>

      <div class="read-more">
        <p class="arrow">→</p>
      </div>
    </div>
  </a>

  <a class="post-link" href="/">
    <div class="post">
      <h2 class="post-title">
        In qui labore esse nostrud nostrud non elit duis qui duis commodo
      </h2>

      <div class="published-date">
        <p class="published">2024 - 05 - 24</p>
      </div>

      <div class="read-more">
        <p class="arrow">→</p>
      </div>
    </div>
  </a>

  <a class="post-link" href="/">
    <div class="post">
      <h2 class="post-title">
        In qui labore esse nostrud nostrud non elit duis qui duis commodo
      </h2>

      <div class="published-date">
        <p class="published">2024 - 05 - 24</p>
      </div>

      <div class="read-more">
        <p class="arrow">→</p>
      </div>
    </div>
  </a>
</div>

<style>
  .post-link {
    text-decoration: none;
  }

  .post {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 825px;
    height: 75px;
    gap: 50px;
    margin-top: -75px;
    padding: 10px;
    border-radius: 1rem;
    transition: var(--ease-in-out);
    margin-bottom: 4rem;
  }

  .post:hover {
    background-color: var(--hover-black);
  }

  .post-title {
    color: var(--primary-grey);
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5em;
  }

  .published {
    color: var(--secondary-grey);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.023rem;
  }

  .read-more {
    text-align: right;
  }

  .arrow {
    color: var(--secondary-grey);
    cursor: pointer;
    transition: var(--ease-in-out);
  }

  .arrow:hover {
    color: var(--primary-grey);
  }
</style>
