<footer class="footer">
  <p class="copyrights">© 2025 • Daniyal Master. All Rights Reserved.</p>
</footer>

<style>
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
  }

  .copyrights {
    color: var(--secondary-grey);
    font-size: 0.8125rem;
    font-family: var(--Inter);
    animation: var(--fadeIn);
    margin-top: 14rem;
    margin-bottom: 10px;
  }
</style>
