<section class="dock">
  <button class="home-button">
    <a href="/">
      <span class="tooltip-text-1" id="fade">Home</span>
      <img src="home.svg" alt="home icon" />
    </a>
  </button>

  <button class="today-button">
    <a href="projects">
      <span class="tooltip-text-2" id="fade">Projects</span>
      <img src="briefcase.svg" alt="briefcase icon" />
    </a>
  </button>

  <button class="completed-button">
    <a href="blogs">
      <span class="tooltip-text-3" id="fade">Blogs</span>
      <img src="edit-3.svg" alt="pencil writing icon" />
    </a>
  </button>
</section>

<style>
  .dock {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 50px;
    width: 175px;
    padding: 15px 30px 15px 30px;
    margin-bottom: -25px;
    border-radius: var(--border-radius);
    background-color: #36393c55;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    outline: 1px solid #343434;
    position: sticky;
    bottom: 15px;
    z-index: 999;
    left: 0;
    right: 0;
  }

  .tooltip-text-1,
  .tooltip-text-2,
  .tooltip-text-3 {
    position: absolute;
    top: -40px;
    width: 85px;
    z-index: 2;
    color: var(--secondary-grey);
    font-family: var(--Inter);
    font-size: 14px;
    text-align: center;
    background-color: #171717;
    border-radius: 0.4375rem;
    padding: 7px 10px 7px 10px;
  }

  .tooltip-text-1 {
    left: 0;
  }

  .tooltip-text-2 {
    left: 25%;
  }

  .tooltip-text-3 {
    right: 0;
  }

  #fade {
    opacity: 0;
    transition: opacity 0.5s;
  }

  .home-button:hover #fade,
  .today-button:hover #fade,
  .completed-button:hover #fade,
  .projects-button:hover #fade {
    opacity: 1;
  }

  .home-button,
  .today-button,
  .completed-button,
  .projects-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .home-button img,
  .today-button img,
  .completed-button img,
  .projects-button img {
    height: 22px;
    width: 22px;
  }
</style>
