<header class="header">
  <div class="home-link">
    <ul>
      <li class="logo">
        <a class="navlink" href="/"> Daniyal Master.</a>
      </li>
    </ul>
  </div>

  <div class="links">
    <ul class="header-links">
      <li class="navitem">
        <a class="navlink" href="projects"> Projects </a>
      </li>

      <li class="navitem">
        <a class="navlink" href="blogs"> Blogs </a>
      </li>

      <li class="navitem">
        <a class="navlink" href="Resume.pdf" target="_blank"> Resume </a>
      </li>

      <li class="navitem">
        <a class="navlink" href="about"> About </a>
      </li>
    </ul>
  </div>
</header>

<style>
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-black);
    gap: 31.25rem;
    margin-top: 0.7rem;
    width: 100%;
    height: 65px;
    position: sticky;
    z-index: 999;
    top: 0;
  }

  .logo-link {
    text-decoration: none;
    cursor: pointer;
  }

  .header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
  }

  .navitem,
  .logo {
    line-height: 1.5rem;
    list-style-type: none;
    transition: var(--ease-in-out);
  }

  .navitem a:link,
  .logo a:link {
    position: relative;
    text-decoration: none;
    transition: var(--ease-in-out);
  }

  /* Logos */

  .logo {
    font-size: 1.35rem;
    font-family: var(--Sf-Pro-Bold);
  }

  .logo a:link {
    color: var(--purple);
  }

  .logo a:visited {
    color: var(--purple);
  }

  .logo a:link:hover {
    color: var(--white);
  }

  .logo a:visited:hover {
    color: var(--white);
  }

  /* Nav Items */

  .navitem {
    font-size: 1rem;
    font-family: var(--Sf-Pro-Semi-Bold);
  }

  .navitem a:link {
    color: var(--white);
  }

  .navitem a:visited {
    color: var(--white);
  }

  .navitem a:link:hover {
    color: var(--purple);
  }

  .navitem a:visited:hover {
    color: var(--purple);
  }
</style>
