---
import "../../styles/global.css";
import ScrollProgress from "../../components/Scroll Progress.astro";
import ScrollBlur from "../../components/Scroll Blur.astro";
import Footer from "../../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Daniyal Master's Blog Article." />
    <link rel="icon" type="image/png" sizes="32x32" href="/Logo.png" />
    <title>Sportssync | Daniyal Master</title>
  </head>
  <body>
    <div class="maincontainer">
      <ScrollBlur />
      <ScrollProgress />

      <section class="project-section">
        <section class="project-top-section">
          <div class="project-top">
            <a class="all-projects" href="/projects">
              <p><span class="arrow">←</span> View all projects</p>
            </a>

            <h1>Sportssync Raycast Extension</h1>
          </div>

          <div class="project-information">
            <p><span>Published:</span> Published Date...</p>
            <p><span>Created by:</span> Daniyal.M</p>
            <hr class="project-hr" />
          </div>
        </section>

        <section class="image-carousel">
          <div class="container">
            <input type="radio" name="slider" id="item-1" checked />
            <input type="radio" name="slider" id="item-2" />
            <input type="radio" name="slider" id="item-3" />

            <div class="cards">
              <label class="card" for="item-1" id="card-1">
                <img
                  src="/sportssync 2025-01-12 at 18.05.40.png"
                  alt="Sportssync screenshot 1"
                />
              </label>

              <label class="card" for="item-2" id="card-2">
                <img
                  src="/sportssync 2025-01-12 at 09.25.01.png"
                  alt="Sportssync screenshot 2"
                />
              </label>

              <label class="card" for="item-3" id="card-3">
                <img
                  src="/sportssync 2025-01-12 at 09.25.35.png"
                  alt="Sportssync screenshot 3"
                />
              </label>
            </div>
          </div>
        </section>

        <section class="project-content">
          <h2>Project Details</h2>

          <p>
            Et irure nisi irure est ea t duis elit tempor consequat. Aute aliqua
            id occaecat. Adipisicing cupidatat et excepteur sunt ut est ut
            ullamco esse aute qui nisi non exercitation id. Ex laboris aliqua
            magna cillum officia minim qui Lorem sint veniam non officia id
            anim. Et irure nisi irure est ea sit sit duis elit tempor consequat.
            Aute aliqua id occaecat. Adipisicing cupidatat et excepteur sunt ut
            est ut ullamco esse aute qui nisi non exercitation id. Ex laboris
            aliqua magna cillum officia minim qui Lorem sint veniam non officia
            id anim.
          </p>

          <h2>Features</h2>

          <p>
            Et irure nisi irure est ea sit sit duis elit tempor consequat. Aute
            aliqua id occaecat. Adipisicing cupidatat et excepteur sunt ut est
            ut ullamco esse aute qui nisi non exercitation id. Ex laboris aliqua
            magna cillum officia minim qui Lorem sint veniam non officia id Et
            irure nisi irure est ea sit sit duis elit tempor consequat. Aute
            aliqua id occaecat. Adipisicing cupidatat et excepteur sunt ut est
            ut ullamco esse aute qui nisi non exercitation id. Ex laboris aliqua
            magna cillum officia minim qui Lorem sint veniam non officia id
            anim.
          </p>

          <p>
            Et irure nisi irure est ea sit sit duis elit tempor consequat. Aute
            aliqua id occaecat. Adipisicing cupidatat et excepteur sunt ut est
            ut ullamco esse aute qui nisi non exercitation id. Ex laboris aliqua
            magna cillum officia minim qui Lorem sint veniam non officia id
            anim. Et irure nisi irure est ea sit sit duis elit tempor consequat.
            Aute aliqua id occaecat. Adipisicing cupidatat et excepteur sunt ut
            est ut ullamco esse aute qui nisi non exercitation id. Ex laboris
            aliqua magna cillum officia minim qui Lorem sint veniam non officia
            id anim.
          </p>

          <h2>Results</h2>

          <p>
            Et irure nisi irure est ea sit sit duis elit tempor consequat. Aute
            aliqua id occaecat. Adipisicing cupidatat et excepteur sunt ut est
            ut ullamco esse aute qui nisi non exercitation id. Ex laboris aliqua
            magna cillum officia minim qui Lorem sint veniam non officia id
            anim. Et irure nisi irure est ea sit sit duis elit tempor consequat.
            Aute aliqua id occaecat. Adipisicing cupidatat et excepteur sunt ut
            est ut ullamco esse aute qui nisi non exercitation id. Ex laboris
            aliqua magna cillum officia minim qui Lorem sint veniam non officia
            id anim.
          </p>

          <h2>Summary</h2>

          <p>
            Et irure nisi irure est ea sit sit duis elit tempor consequat. Aute
            aliqua id occaecat. Adipisicing cupidatat et excepteur sunt ut est
            ut ullamco esse aute qui nisi non exercitation id. Ex laboris aliqua
            magna cillum officia minim qui Lorem sint veniam non officia id
            anim. Et irure nisi irure est ea sit sit duis elit tempor consequat.
            Aute aliqua id occaecat. Adipisicing cupidatat et excepteur sunt ut
            est ut ullamco esse aute qui nisi non exercitation id. Ex laboris
            aliqua magna cillum officia minim qui Lorem sint veniam non officia
            id anim.
          </p>
        </section>
      </section>

      <Footer />
    </div>

    <style>
      .maincontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .project-section {
        width: 100%;
        margin-top: 90px;
        animation: var(--fadeIn);
      }

      .project-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .project-top h1 {
        color: var(--purple);
        font-size: 2rem;
        font-family: var(--Inter);
        font-weight: 650;
        text-align: left;
        width: 600px;
      }

      .project-hr {
        width: 37.5rem;
        border: var(--hr);
        margin-top: 3rem;
        margin-bottom: 3rem;
      }

      .project-information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
      }

      .all-projects {
        text-decoration: none;
      }

      .arrow {
        color: var(--secondary-grey);
        font-family: var(--Inter);
        font-weight: 650;
        cursor: pointer;
        transition: var(--ease-in-out);
      }

      .project-top p,
      .project-information p {
        color: var(--secondary-grey);
        font-size: 16px;
        font-family: var(--Inter);
        font-weight: 400;
        letter-spacing: 0.023px;
        line-height: 1rem;
        width: 600px;
        text-align: left;
      }

      .project-top p {
        cursor: pointer;
        margin-bottom: 4rem;
        transition: var(--ease-in-out);
      }

      .project-top p:hover {
        color: var(--primary-grey);
      }

      .project-information p {
        margin-top: 0.75rem;
      }

      span {
        color: var(--primary-grey);
      }

      .image-carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 4rem;
      }

      .project-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 400px;
      }

      .project-content h2 {
        color: var(--primary-grey);
        font-family: var(--Inter);
        font-size: 1.35rem;
        font-weight: 600;
        line-height: 1.25rem;
        text-align: left;
        width: 600px;
        margin-top: 3rem;
      }

      .project-content p {
        color: var(--secondary-grey);
        font-size: 1rem;
        font-family: var(--Inter);
        font-weight: 400;
        line-height: 1.75rem;
        letter-spacing: 0.023rem;
        width: 600px;
        margin-top: 1.75rem;
        margin-bottom: 1.75rem;
        text-align: left;
      }

      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        max-width: 600px;
        max-height: 350px;
        transform-style: preserve-3d;
      }

      input[type="radio"] {
        display: none;
      }

      .card {
        width: 600px;
        height: 350px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        transition: transform 0.4s ease;
        cursor: pointer;
      }

      img {
        width: 600px;
        height: 350px;
        border-radius: 1.2rem;
        object-fit: cover;
      }

      #item-1:checked ~ .cards #card-3,
      #item-2:checked ~ .cards #card-1,
      #item-3:checked ~ .cards #card-2 {
        transform: translatex(-40%) scale(0.8);
        opacity: 0.4;
        z-index: 0;
      }

      #item-1:checked ~ .cards #card-2,
      #item-2:checked ~ .cards #card-3,
      #item-3:checked ~ .cards #card-1 {
        transform: translatex(40%) scale(0.8);
        opacity: 0.4;
        z-index: 0;
      }

      #item-1:checked ~ .cards #card-1,
      #item-2:checked ~ .cards #card-2,
      #item-3:checked ~ .cards #card-3 {
        transform: translatex(0) scale(1);
        opacity: 1;
        z-index: 1;
      }
    </style>
  </body>
</html>
