---
import "../../styles/global.css";
import Navigation from "../../components/Navigation.astro";
import ScrollProgress from "../../components/Scroll Progress.astro";
import ScrollBlur from "../../components/Scroll Blur.astro";
import Footer from "../../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Daniyal Master's Blog Article." />
    <link rel="icon" type="image/png" sizes="32x32" href="/Logo.png" />
    <title>Sportssync | Daniyal Master</title>
  </head>
  <body>
    <div class="maincontainer">
      <ScrollBlur />
      <ScrollProgress />
      <Navigation />

      <section class="project-section">
        <section class="project-top-section">
          <div class="project-top">
            <a class="all-projects" href="/projects">
              <p>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 16 16"
                  class="arrow"
                >
                  <g transform="scale(-1,1) translate(-16,0)">
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M9.75 4.75 13.25 8m0 0-3.5 3.25M13.25 8H2.75"></path>
                  </g>
                </svg> View more projects
              </p>
            </a>

            <h1>Sportssync Raycast Extension</h1>
          </div>

          <div class="project-information">
            <p><span>Published:</span> Published Date...</p>
            <p><span>Created by:</span> Daniyal.M</p>
            <hr class="project-hr" />
          </div>
        </section>

        <section class="image-carousel">
          <div class="container">
            <input type="radio" name="slider" id="item-1" checked />
            <input type="radio" name="slider" id="item-2" />
            <input type="radio" name="slider" id="item-3" />

            <div class="cards">
              <label class="card" for="item-1" id="card-1">
                <img
                  src="/sportssync 2025-01-12 at 18.05.40.png"
                  alt="Sportssync screenshot 1"
                />
              </label>

              <label class="card" for="item-2" id="card-2">
                <img
                  src="/sportssync 2025-01-12 at 09.25.01.png"
                  alt="Sportssync screenshot 2"
                />
              </label>

              <label class="card" for="item-3" id="card-3">
                <img
                  src="/sportssync 2025-01-12 at 09.25.35.png"
                  alt="Sportssync screenshot 3"
                />
              </label>
            </div>
          </div>
        </section>

        <section class="project-content">
          <h2>Overview</h2>

          <p>
            A raycast extension to view scores, standings, and news across your
            favorite sports leagues.
          </p>

          <h2>Links</h2>

          <ul>
            <li>
              <a
                href="https://github.com/daniyalmaster693/sportssync"
                target="_blank"
                aria-label="Sportssync Github Repository"
              >
                Github Repository</a
              >
            </li>

            <li>
              <a
                href="https://github.com/daniyalmaster693/sportssync"
                target="_blank"
                aria-label="Sportssync Extension Raycast Store "
              >
                Raycast Store</a
              >
            </li>
          </ul>

          <h2>Commands</h2>

          <ul>
            <li>
              Scores and Schedule: Dynamically view live scores, game times, and
              completed scores (updates dynamically based on the game state)
            </li>

            <li>
              Standings Command: View team standings and in depth stats (differs
              based on the league)
            </li>

            <li>News Command: View news articles and headlines</li>
          </ul>

          <h2>Supported Leagues</h2>

          <p>
            Leagues that are fully supported include the following: a scores and
            schedule, standings, and news command
          </p>

          <ul>
            <li>NHL (Fully supported)</li>
            <li>NBA (Fully Supported)</li>
            <li>WNBA (Fully supported)</li>
            <li>Men's College Basketball (Only scores and news)</li>
            <li>Women's College Basketball (Only scores and news)</li>
            <li>NFL (Fully supported)</li>
            <li>College Football (Men's) - (Only scores and news)</li>
            <li>MLB (Fully supported)</li>
            <li>F1 (Fully supported)</li>
            <li>EPL (English Premier League) - (Fully supported)</li>
            <li>SLL (LALIGA) - (Fully supported)</li>
            <li>GER (German Bundesliga) - (Fully supported)</li>
            <li>ITA (Italian Serie A) - (Fully supported)</li>
          </ul>

          <h2>Roadmap</h2>

          <ul>
            <li>
              Live Scores Command (Menubar): View live scores and upcoming
              games, and click on games to set them as the menu bar title,
              allowing users to view scores with automatic refreshes.
            </li>
            <li>Stats command: A command to view player stats</li>
            <li>
              Tracker Command: A command to view injuries and transactions
            </li>
            <li>
              Past Scores Command: A separate command (or something integrated
              into the scores and schedules command) to allow users to view
              scores for previous games (up to a few days)
            </li>
            <li>
              Additional Leagues: Please request any leagues that you'd like me
              to add support for, and I'll look into seeing what I can do.
            </li>
          </ul>

          <p>In depth stats, for the scores and schedule command:</p>

          <ul>
            <li>
              Play by Play Tracker: A menu to view play by play events during
              live games
            </li>
            <li>
              Team Stats and Team Matchups: A separate similar to the play by
              play tracker, to view individual team stats, leaders, and the
              season series for upcoming games
            </li>
            <li>
              Final Team Stats: Another separate menu to view the final team
              stats after a game has been completed, including team leaders,
              player stats, and overall team stats
            </li>
          </ul>
        </section>
      </section>

      <Footer />
    </div>

    <style>
      .maincontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .project-section {
        width: 100%;
        margin-top: 90px;
        animation: var(--fadeIn);
      }

      .project-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .project-top h1 {
        color: var(--purple);
        font-size: 2rem;
        font-family: var(--Inter);
        font-weight: 650;
        text-align: left;
        width: 600px;
      }

      .project-hr {
        width: 37.5rem;
        border: var(--hr);
        margin-top: 3rem;
        margin-bottom: 3rem;
      }

      .project-information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
      }

      .all-projects {
        text-decoration: none;
      }

      .all-projects p {
        display: flex;
        align-items: center;
        gap: 5px;
      }

      .arrow {
        color: var(--secondary-grey);
        height: 16px;
        width: 16px;
        font-family: var(--Inter);
        font-weight: 650;
        cursor: pointer;
        transition: var(--ease-in-out);
      }

      .arrow:hover {
        color: var(--primary-grey);
      }

      .project-top p,
      .project-information p {
        color: var(--secondary-grey);
        font-size: 16px;
        font-family: var(--Inter);
        font-weight: 400;
        letter-spacing: 0.023px;
        line-height: 1rem;
        width: 600px;
        text-align: left;
      }

      .project-top p {
        cursor: pointer;
        margin-bottom: 4rem;
        transition: var(--ease-in-out);
      }

      .project-top p:hover {
        color: var(--primary-grey);
      }

      .project-information p {
        margin-top: 0.75rem;
      }

      span {
        color: var(--primary-grey);
      }

      .image-carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 4rem;
      }

      .project-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 400px;
      }

      .project-content h2 {
        color: var(--primary-grey);
        font-family: var(--Inter);
        font-size: 1.35rem;
        font-weight: 500;
        line-height: 1.25rem;
        text-align: left;
        width: 600px;
        margin-top: 3rem;
      }

      .project-content p,
      .project-content li,
      .project-content a {
        color: var(--secondary-grey);
        font-size: 1rem;
        font-family: var(--Inter);
        font-weight: 400;
        line-height: 1.75rem;
        letter-spacing: 0.023rem;
        width: 600px;
        text-align: left;
      }

      .project-content p {
        margin-top: 1.75rem;
        margin-bottom: 1.75rem;
      }

      .project-content ul {
        padding-inline-start: 1.625rem;
      }

      .project-content li {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }

      .project-content li::marker {
        color: var(--purple);
      }

      .project-content li:nth-child(1) {
        margin-top: 1.75rem;
      }

      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        max-width: 600px;
        max-height: 350px;
        transform-style: preserve-3d;
      }

      input[type="radio"] {
        display: none;
      }

      .card {
        width: 600px;
        height: 350px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        transition: transform 0.4s ease;
        cursor: pointer;
      }

      img {
        width: 600px;
        height: 350px;
        border-radius: 1.2rem;
        object-fit: cover;
      }

      #item-1:checked ~ .cards #card-3,
      #item-2:checked ~ .cards #card-1,
      #item-3:checked ~ .cards #card-2 {
        transform: translatex(-40%) scale(0.8);
        opacity: 0.4;
        z-index: 0;
      }

      #item-1:checked ~ .cards #card-2,
      #item-2:checked ~ .cards #card-3,
      #item-3:checked ~ .cards #card-1 {
        transform: translatex(40%) scale(0.8);
        opacity: 0.4;
        z-index: 0;
      }

      #item-1:checked ~ .cards #card-1,
      #item-2:checked ~ .cards #card-2,
      #item-3:checked ~ .cards #card-3 {
        transform: translatex(0) scale(1);
        opacity: 1;
        z-index: 1;
      }
    </style>
  </body>
</html>
